<form class="well" ng-init="selected = []">
  <h2>{{meeting.title}} <!--a href="#" class="btn btn-small btn-danger">Edit</a--></h2>
  <p>{{meeting.description}}</p>
  <div ng-repeat="meetingTime in meeting.meeting_times">
    <p>{{meetingTime.time}} <input ng-click="toggleSelection(meetingTime.id)" type="checkbox" name="{{meeting.id}}" /></p>
  </div>

  <input type="text" ng-model="formContent.nickname"id="nickname-field" placeholder="enter nickname" />
  <a href="#" class="btn" ng-submit="submitAnswer()">submit</a>
</div>

<div class="well">
  <p>Got data:{{meeting}}</p>
</form>
