<form ng-submit="submitAnswer()" ng-controller="MeetingDetailsCtrl" class="well">
  <h2>{{meeting.title}} <!--a href="#" class="btn btn-small btn-danger">Edit</a--></h2>
  <p>{{meeting.description}}</p>
  <table class="table ">
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>

    <tr>
      <td>Nickname</td>
        <td ng-repeat="meetingTime in meeting.meeting_times"> {{ meetingTime.time | date:'MM/dd/yyyy @ h:mma' }} <td>
    </tr>

    <tr ng-repeat="user_answer in answers">
      <td>{{user_answer.user.nickname}}</td>
      <td ng-repeat="answer in user_answer.meeting_time_answers" ng-class="{selected: answer.state==1}">{{answer.state}}</td>
    </tr>

    <tr>
      <td><input type="text" ng-model="formContent.nickname"id="nickname-field" placeholder="enter nickname" /></td>
      <td ng-repeat="meetingTime in meeting.meeting_times">  <input ng-click="toggleSelection(meetingTime.id)" type="checkbox" name="{{meeting.id}}" /></td>
    </tr>

  </tr>
    </tbody>
</table>

<input type="submit" class="btn btn-primary btn-small" value="submit" />
</form>
